* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #e5e5e5;
}

.logo img {
    width: 120px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.search input {
    padding: 5px;
    width: 200px;
    border-radius: 20px;
    border: 1px solid #ccc;
}




.about{
    margin-left: 50%;
    
}
.about h1 {
    font-size: 2.5em;
    color: #006837;
    gap: 50px;
}

.about p {
    max-width: 600px;
    font-size: 1.2em;
    color: #333;
    gap: 50px;
}

.team {
    margin-left: 10%;
   
  
}



.team-member img {
    

    border-radius: 50%;
    object-fit: cover;
}

.team-member p {
   
    font-weight: bold;
}

footer {
    background-color: #006837;
    color: white;
    padding: 20px;
    text-align: center;
}

footer .social-media a img {
    width: 30px;
    margin: 0 10px;
}
