
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #d9d9d9;
    color: black;

}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}


.menu_lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding-top: 1%;
    padding-left: 15%;
}

.menu_lista_itens{

    padding: 10px;
    border-radius: 10px;
}

